// Eww colors for z0mbi3 rice
$bg: #0d0f18;
$bg-alt: #151720;
$fg: #a5b6cf;
$black: #3d414f;
$lightblack: #262831;
$red: #dd6777;
$blue: #86aaec;
$cyan: #93cee9;
$magenta: #c296eb;
$green: #90ceaa;
$yellow: #ecd3a0;
$archicon: #0f94d2;
